# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosate
*.sln.docstates

# Visual Studio cache/options
.vs/
*.cache

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Application specific
AMD EXPORT.txt
tweaks_state.json
*.log

*.exe
